<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link id="css" href="/css/nodece.css" rel="stylesheet">
		<link id="css" href="/js/jquery-ui/jquery-ui.min.css" rel="stylesheet">
		<link id="css" href="/js/jquery-ui/jquery-ui.structure.min.css" rel="stylesheet">
		<link id="css" href="/js/jquery-ui/jquery-ui.theme.min.css" rel="stylesheet">
		<link rel="stylesheet" href="/css/jquery.modal.min.css" type="text/css"/>
		<!-- <link id="riot_gear_css" rel="stylesheet" href="https://unpkg.com/blaze"> -->
		<!--[if lt IE 9]>
			<script id="es5-shim" type="text/javascript" src="/js/es5-shim.min.js"></script>
			<script id="html5shiv" type="text/javascript" src="/js/html5shiv.min.js"></script>
		<![endif]-->
	<script type="text/javascript">
	</script>
	</head>
	<body>
		<section class="content_container">
		</section>
		<div id="modal-reco"></div>
		<script type="riot/tag" src="/js/tag/admin/base.html"></script>
		<script type="riot/tag" src="/js/tag/admin/accueil.html"></script>
		<script type="riot/tag" src="/js/tag/modal-reco.html"></script>
		<script id="jquery_js" type="text/javascript" src="/js/jquery.min.js"></script>
		<script id="jquery_js" type="text/javascript" src="/js/jquery-ui/jquery-ui.min.js"></script>
		<script id="jquery_js" type="text/javascript" src="/js/jquery-ui/jquery-ui-datepicker-fr.js"></script>
		<script src="/js/jquery.modal.min.js" type="text/javascript" charset="utf-8"></script>
		<!-- --><script id="riot_js" type="text/javascript" src="/js/riot+compiler.min.js"></script><!-- -->
		<!-- <script id="riot_js" type="text/javascript" src="/js/riot+compiler.js"></script> <!-- -->
		<!-- <script id="riot_gear_js" type="text/javascript" src="/js/rg.min.js"></script> <!-- -->
		<script id="js" type="text/javascript" src="/js/nodece.js"></script>
		<script id="js" type="text/javascript" src="/js/nodece-admin.js"></script>
		<script type="text/javascript">
		</script>
	</body>
</html>
