<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<script id="jquery_js" type="text/javascript" src="/js/jquery.min.js"></script>
		<script id="jquery_js" type="text/javascript" src="/js/jquery-ui/jquery-ui.min.js"></script>
		<title>MyApp</title>
		<link href="/css/login.css" rel="stylesheet">
	</head>
	<body>
		<section class="content_container">
			<h1 class="name_title">Login</h1>
			<form action="/" method="post" class="connexion" id="connexion">
				<div class="block">
					<input type="text" name="identifiant" placeholder="Identifiant"><br>
				</div>
				<div class="block">
					<input type="password" name="password" placeholder="Mot de passe"><br>
				</div>
				<input type="hidden" name="connexion_type" value="start">				
				<button class="">Connexion</button>
			</form>
		</section>
	</body>
</html>
